.cabecalho {
    padding: 2.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 90vw;
}


.cabecalho__menu-hamburguer {
    background-image: url('../../images/icon-hamburger.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    transition: .2s;
    position: relative;
}

.cabecalho__menu-mobile {
    display: none;
    position: absolute;
    text-align: center;
    width: 90vw;
    top: 15%;
    background-color: var(--branco);
    padding: 2rem 0;
    box-shadow: 2px 1px 100vh 1px rgba(0, 0, 0, 0.8)
}

.menu__item {
    padding: 1rem 0;
}

.menu__item>.menu__link {
    text-decoration: none;
    font-weight: 700;
}


.cabecalho__menu-botao {
    display: none;
}

.cabecalho__menu-botao:checked~.cabecalho__menu-opener>.cabecalho__menu-hamburguer {
    background-image: url('../../images/icon-close.svg');
}

.cabecalho__menu-botao:checked~.cabecalho__menu-mobile {
    display: block;
}

