.cabecalho {
    padding: 2.5rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.cabecalho__imagem {
    max-width: 146px;
    max-height: 27px;
    flex-grow: 1;
}

.cabecalho__desktop {
    display: none;
}


.cabecalho__menu-hamburguer {
    background-image: url('../../images/icon-hamburger.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    transition: .2s;
    position: relative;
    z-index: 3;
}

.cabecalho__menu-mobile {
    display: none;
    position:fixed;
    text-align: center;
    width: 90vw;
    top: 130px;
    right: 5vw;
    background-color: var(--branco);
    padding: 2rem 0;
    z-index: 3;
}

.cabecalho__menu-mobile-dark-mode {
    background-color: rgb(36, 45, 82, .9);
}

.menu__item {
    padding: 1rem 0;
}

.menu__item>.menu__link {
    text-decoration: none;
    font-weight: 700;
}

.menu__item>.menu__link-dark-mode {
    color: var(--branco);
}

.cabecalho__menu-botao {
    display: none;
}

.cabecalho__menu-botao:checked~.cabecalho__menu-opener>.cabecalho__menu-hamburguer {
    background-image: url('../../images/icon-close.svg');
    position: fixed;
    right: 2rem;
    top: 5.5rem;
}

.cabecalho__menu-botao:checked~.cabecalho__menu-mobile {
    display: block;
}

@media screen and (min-width: 930px) {
    .cabecalho {
        margin: 0 10vw;
    }

    .cabecalho__desktop{
        align-items: center;
        display: flex;
        flex-grow: 1;
        margin: 0 0 0 2vw;
    }

    .menu__lista-desktop {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        align-items: center;
    }

    .menu__item-desktop .menu__link {
        text-decoration: none;
        color: var(--azul-escuro);
        font-weight: 700;
        font-size: 1rem;
        margin-right: 1rem;
        transition: .2s;
    }

    .menu__item-desktop .menu__link-dark-mode {
        color: var(--branco);
    }

    .menu__item-desktop .menu__link:hover {
        opacity: .5;
    }

    .cabecalho__botao {
        flex-grow: 1;
        background-color: var(--vermelho-claro);
        border-radius: 24px;
        box-shadow: 0 10px 20px -10px var(--vermelho-claro);
        color: var(--cinza-claro);
        font-weight: 700;
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        max-width: fit-content;
        transition: .3s;
        align-self: flex-end;
        font-size: .8rem;
    }

    .botao-dark-mode {
        box-shadow: unset;
    }

    .cabecalho__botao:hover {
        cursor: pointer;
        opacity: .5;
    }

    .cabecalho__menu-opener {
        display: none;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin: 2rem 0 0 2rem;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--azul-escuro);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: var(--vermelho-claro);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--azul-cinzento);
    border: 1px solid var(--azul-cinzento);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
    background-color: var(--branco);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
