.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 10% 2rem 10%;
}

.intro__imagem {
    background-image: url('../../images/illustration-intro.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    min-width: 360px;
    min-height: 500px;
}

.intro__descricao {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    padding-bottom: 5rem;
}

.intro__bg {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image: url('../../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 375px;
    background-position-y: 0;
    background-position-x: calc(100vw - 120px);
}

.intro__bg-dark-mode {
    background-image: url('../../images/bg-tablet-pattern-dark-mode.svg');
}

.intro__descricao__titulo {
    color: var(--azul-escuro);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    line-height: 1.2em;
    padding: 1rem 0;
}

.intro__descricao__texto {
    color: var(--azul-cinzento);
    text-align: center;
    line-height: 1.5rem;
    font-weight: 400;
}

.descricao__botao {
    background-color: var(--vermelho-claro);
    border-radius: 24px;
    box-shadow: 0 10px 20px -10px var(--vermelho-claro);
    color: var(--cinza-claro);
    font-weight: 700;
    margin-top: 2rem;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    transition: .3s;
}

@media screen and (min-width: 930px) {
    .intro {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    .intro__descricao {
        align-items:unset;
        max-width: 450px;

    }

    .intro__descricao__titulo {
        text-align: left;
        font-size: 3rem;
    }

    .intro__descricao__texto {
        text-align: left;
        max-width: 380px;
    }

    .intro__imagem {
        min-width: 500px;
    }

    .descricao__botao:hover {
        cursor: pointer;
        opacity: .5;
    }
}


