.rodape {
    background-color: var(--azul-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__paginas-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 2rem;
    column-gap: 4rem;
    row-gap: 1em;
    grid-auto-flow: column;
}

.rodape__paginas-lista__item {
    width: 100px;
}

.rodape__item-link {
    color: var(--branco);
    font-size: .8rem;
    text-decoration: none;
    text-align: center;
    transition: .2s;
}

.rodape__social-lista {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.social__item-link>svg {
    width: 35px;
    margin: 1rem 0 2.5rem 0;
}

.copyright {
    color: var(--azul-cinzento);
    font-size: .8rem;
    margin: 2rem 0;
}

.attribution, .attribution a {
    color: var(--azul-cinzento);
    text-decoration: none;
    text-align: center;
    font-size: .8rem;
}

@media screen and (min-width: 930px) {
    .rodape {
        padding: 3rem 10vw;
        display: grid;
        grid-template-areas: 
        "logo lista lista update"
        "social lista lista copyright";
    }
    
    .rodape__logo {
        grid-area: logo;
    }

    .rodape__social-lista {
        grid-area: social;
    }

    .rodape__paginas-lista {
        grid-area: lista;
    }

    .secao__updates {
        grid-area: update;
    }

    .attribution {
        grid-area: copyright;
    }

    .social__item-link>svg {
        width: 20px;
        margin: 1rem 0 2.5rem 0;
    }

    .social__item-link>svg path {
        transition: .2s;
    }

    .social__item-link>svg:hover path{
        fill: var(--vermelho-claro);
    }

    .rodape__social-lista {
        display: flex;
        justify-content: space-between;
        width: 180px;
    }

    .rodape__item-link:hover {
        color: var(--vermelho-claro);
    }
    
    .updates__botao:hover {
        cursor: pointer;
        background-color: #f9c8b9;
    }

}