@import url('header.css');
@import url('intro.css');
@import url('sobre.css');
@import url('depoimentos.css');
@import url('getStarted.css');
@import url('updates.css');
@import url('rodape.css');

:root {
    --vermelho-claro: #f25f3a;
    --vermelho-claro-opaco:rgb(242, 95, 58, .1);
    --azul-escuro: #242d52;
    --azul-cinzento: #9095a7;
    --azul-extra-escuro: #1d1e25;
    --vermelho-palido: #ffefeb;
    --cinza-claro: #fafafa;
    --branco: #ffffff;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

/* .secao-superior {
    background-image: url('../../images/bg.png');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:70%;
    background-position:top right;
    width: 100vw;
    height: 100vh;
    margin-bottom: 6rem;
} */