:root {
    --vermelho-claro: #f25f3a;
    --azul-escuro: #242d52;
    --azul-cinzento: #9095a7;
    --azul-extra-escuro: #1d1e25;
    --vermelho-palido: #ffefeb;
    --cinza-claro: #fafafa;

}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}